APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_KEY=YOURAAWSAPIKEYHERE
AWS_SECRET=YOURAWSSECRETTOKENHERE
AWS_REGION=YOURAWSREGIONCODEHERE
AWS_BUCKET=YOURAWSBUCKETNAMEHERE

UPLOADS_ENVIRONMENT=s3 																		// use - 's3' or 'local' (no quotation marks)
UPLOADS_WEBPATH=https://s3-us-west-2.amazonaws.com/NAMEOFYOURAWSBUCKETHERE					// use the s3 bucket address or '/uploads/' (no quotation marks)