/node_modules
/public/hot
/public/storage
/public/files
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
package.lock
composer.lock
.env
.phpunit.result.cache
sitemap.xml
