.has-error {
    label
    textarea,
    textarea.form-control,
    textarea + #cke_content,
    select,
    input {
        border-color: $danger;
    }
    label {
        color: $danger;
    }
}

#cke_content {
    width: 98.5%;
}

#publish_date,
#publish_time {
    cursor: pointer;
}

.data-style {
    font-family: monospace;
    font-size: .7em;
}
.input-group-append {
    .btn {
        margin: 0;
        line-height: 1;
        padding-top: 1em;
    }
}
.input-group {
    .form-control + .input-group-append {
        .input-group-text {
            padding: 11px 10px 12px 0;
        }
    }
}
#page-image-preview {
    @media(min-width: 767px) {
        max-height: 40px;
    }
}
