// ------------------------------------------------------------------------------------
//
// See `node_modules/paper-dashboard-2/assets/scss/paper-dashboard/_variables.scss`
// for variable overrides for the paper dashbaord.
//
// ------------------------------------------------------------------------------------

// Fonts
$fa-font-path: "/fonts/font-awesome";
$nucleo-path: "/fonts/nucleo";
